.title-bg {
  padding: 200px;
  background: url("image-2018-09-15.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.title-h1 {
  color: DarkBlue ;
  font-family: 'Lobster', cursive;
  font-size: 140px;
}

.about-bg {
  padding: 100px;
  background-color: #D3D3D3;
  font-family: 'Raleway';
  font-size: 18px;
}

.my-video {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
