.title-bg {
  padding: 300px;
  background: url("IMG_0647 (2)_opt.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.title-h1 {
  color: DarkBlue ;
  font-family: 'Lobster', cursive;
  font-size: 140px;
}

.about-bg {
  padding: 100px;
  background-color: #D3D3D3;
  font-family: 'Raleway';
  font-size: 18px;
}

.my-video {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.model {
  padding: 500px;
  background: url("Drawing1.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
